@import "tailwindcss";

@theme {
    --font-sans: "Inter", "system-ui", "sans-serif";

    --color-navy-50: #e6ebf5;
    --color-navy-100: #ccd7eb;
    --color-navy-200: #99b0d6;
    --color-navy-300: #6688c2;
    --color-navy-400: #3361ad;
    --color-navy-500: #003999;
    --color-navy-600: #002e7a;
    --color-navy-700: #00225c;
    --color-navy-800: #112240;
    --color-navy-900: #0a192f;

    --color-mint-50: #e0fffa;
    --color-mint-100: #b3fff0;
    --color-mint-200: #80ffe6;
    --color-mint-300: #4dffdb;
    --color-mint-400: #26ffd6;
    --color-mint-500: #64ffda;
    --color-mint-600: #33ccad;
    --color-mint-700: #009980;
    --color-mint-800: #006655;
    --color-mint-900: #00332b;

    --color-neon-purple: #b026ff;
    --color-neon-blue: #26f7fd;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 dark:bg-navy-900 dark:text-slate-100 font-sans antialiased transition-colors duration-300;
    }
}